/*  -------------------------------------------------
    
    Twipster
    
    Simpler & More Readable Twitter Userstyles
    Based on Craig Mod's Minimal Twitter.
 
    ------------------------------------------------- */


/* Change the font used for tweets here */
.js-tweet-text {
  font-family: Georgia !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
  color: #444 !important;
  margin-bottom: 0.25em !important;
}

/* Readable compose fields */
.tweet-box {
  font-size: 18px !important;
  line-height: 24px !important;
}

body {
  background-image: none !important;
  background-color: #fff !important;
}

/* Hide things */
.trends, .topics, .bird-topbar-etched, .wtf-module, .site-footer, .mini-profile, .enhanced-media-thumbnails, .expand-action-wrapper, .close-all-tweets, .content-header, .expand-stream-item, .collapse-stream-item, .details.with-icn i, .list-link .chev-right, .dashboard .avatar-row, .dashboard .media-row, .promptbird, .promoted-tweet, .front-signup div.placeholding-input, .front-container .footer, .front-bg, .front-welcome {
  display: none !important;
}

/* Remove Borders */
.stream-item, .tweet, .stream-loading, .stream-end, .new-tweets-bar, .module, .module .list-link, .front-signin, .stream-item-activity-me {
  border: none !important;
}

/* Remove Box Shadows */
.topbar, .new-tweets-bar, .front-signin, .front-signup, .stream .tweet:hover .tweet-actions {
  box-shadow: none !important;
}

/* Remove Backgrounds */
.wrapper, .wrapper-narrow, .wrapper-permalink, .module .list-link, .front-signin, .front-signup, .stream .tweet:hover .tweet-actions {
  background: none !important;
}
   
/* Lighten up secondary information */
.username, .time, .time a, .metadata, .metadata button.btn-link, .metadata a, .with-icn, .with-icn:hover, .with-icn:focus, .context span, .context a.pretty-link b, .account-group span, .account-group s, .account-group strong {
  color: #aaa !important;
}


/*  ----------------------------------------------------------------
    Single Column Layout */

.wrapper-settings .content-header {
  display: block !important;
}

.wrapper, .wrapper-narrow, .wrapper-permalink {
  width: 90% !important;
  max-width: 56em !important;
}

.dashboard, .content-main, .global-nav, .global-nav-inner, .global-nav .container, .profile-card.profile-header, .profile-header-inner-overlay {
  width: 100% !important;
}

.dashboard, .content-main {
  float: none !important;
}


/*  ----------------------------------------------------------------
    Navigation */

.global-nav {
  margin: 0 auto !important;
  background-image: none !important;
  background-color: #333 !important;
}

.global-nav-inner {
  max-width: 56em !important;
  margin: 0 auto !important;
}

.global-nav .container {
  min-width: 1rem !important;
}

.topbar-tweet-btn {
  margin-right: 0px !important;
}

.global-nav .search-input {
  color: #fff !important;
  background: #444 !important;
}

.js-nav-links li {
  display: inline-block !important;
}


/*  ----------------------------------------------------------------
    Tweets */

.new-tweets-bar {
  background: #f2fafc !important;
  border-radius: .25rem !important;
}

.tweet:hover, .permalink-tweet, .permalink-tweet:hover {
  background: #fff !important;
}

.tweet-box {
  width: 95% !important;
  height: auto !important;
  min-height: 80px !important;
  padding: 8px 2.5% !important;
}

.tweet-form.has-preview.has-thumbnail .tweet-box {
  padding-bottom: 80px !important;
}

.tweet-form .thumbnail-container {
  width: auto !important;
}

.expanding-stream-item.open {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid rgba(0,0,0,.02) !important;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2) !important;
}

.tweet:hover .sm-reply, .tweet.focus .sm-reply, .simple-tweet .sm-reply, .hovered-stream-item .sm-reply, .simple-tweet.opened-tweet:hover .sm-reply {
  background-position: 0 -190px !important;
}

.tweet:hover .sm-rt, .tweet.focus .sm-rt, .simple-tweet .sm-rt, .hovered-stream-item .sm-rt, .simple-tweet.opened-tweet:hover .sm-rt { 
  background-position: -20px -190px !important;
}

.tweet:hover .sm-fav, .tweet.focus .sm-fav, .simple-tweet .sm-fav, .hovered-stream-item .sm-fav, .simple-tweet.opened-tweet:hover .sm-fav {
  background-position: -40px -190px !important;
}

.tweet:hover .sm-more, .tweet.focus .sm-more, .simple-tweet .sm-more, .hovered-stream-item .sm-more, .simple-tweet.opened-tweet:hover .sm-more {
  background-position: -280px -190px !important;
}

.permalink-tweet .sm-reply, .permalink-tweet:hover .sm-reply, .permalink-tweet.focus .sm-reply {
  background-position: 0 -280px !important;
}

.permalink-tweet .sm-rt, .permalink-tweet:hover .sm-rt, .permalink-tweet.focus .sm-rt {
  background-position: -30px -280px !important;
}

.permalink-tweet .sm-fav, .permalink-tweet:hover .sm-fav, .permalink-tweet.focus .sm-fav {
  background-position: -60px -280px !important;
}

.permalink-tweet .sm-more, .permalink-tweet:hover .sm-more {
  background-position: -180px -280px !important;
}

.tweet .sm-reply, .tweet .sm-rt, .tweet .sm-fav, .tweet .sm-image, .tweet .sm-video, .tweet .sm-audio, .tweet .sm-geo, .tweet .sm-in, .tweet .sm-trash, .tweet .sm-more, .tweet .sm-page, .tweet .sm-embed, .tweet .sm-summary, .tweet .sm-chat, .timelines-navigation .active .profile-nav-icon, .timelines-navigation .profile-nav-icon:hover, .timelines-navigation .profile-nav-link:focus .profile-nav-icon, .sm-top-tweet, .metadata a.tweet-geo-text:hover .sm-geo, .discover-item .js-action-card-search:hover .sm-search, .discover-item .js-action-card-search:focus .sm-search {
  background-color:  #aaa !important;
}

.tweet-actions a {
  margin-left: 0 !important;
  margin-right: 8px !important;
}

.content-main .in-reply-to {
  background: #fcfcfc !important;
}


/*  ----------------------------------------------------------------
    Profile Page */

.profile-card {
  border: 1px solid rgba(0,0,0,.1) !important;
}

.profile-card.profile-header .profile-header-inner {
  background-size: cover !important;
  background-position: center center !important;
}

.profile-card-inner {
  width: 60% !important;
}

.profile-card-inner .username {
  color: #fff !important;
}


/*  ----------------------------------------------------------------
    Modals */

.modal {
  width: 90% !important;
  max-width: 56em !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
}

.dm-message {
  max-width: none !important;
}


/*  ----------------------------------------------------------------
    Front Page */

.front-card, .front-sign-in, .front-signup, .signup-btn {
  position: relative !important;
  left: 0 !important;
}

.front-card {
  max-width: 100% !important;
  margin: 48px auto !important;
}

.front-signin {
  margin: 0 auto !important;
}

.front-signup {
  top: 0 !important;
  max-height: 100px !important;
  margin: 40px auto !important;
  border: none !important;
}

.signup-btn {
  margin: 15px 10px !important;
}
